/* font imported from adobe fonts */
@import url("https://use.typekit.net/djv5dul.css");

/* set padding, margins, and borders to 0 */ 
* {
    margin: 0;
    padding: 0;
    border: none; 
}

body {
    font-family: adobe-garamond-pro, serif; 
    font-weight 400;
    font-style: normal;
    color: #151515;
}

/* headers */ 

h1, h2 {
    font-family: cormorant-garamond, serif; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    font-weight: 600;
    font-style: normal; 
    color: #010101;
    text-decoration: none; 
}

#web-bg{
    background-color: #F2F2F2; 
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
}

/* logo & navigation menu */

#logo {
    float: left; 
    font-size: 250%;
    
}

#nav-menu {
    letter-spacing: 2px;
    float: right; 
    font-size: 105%;
    color: #151515;
}

/* match line height between nav-menu & logo */

#logo, #nav-menu {
    line-height: 80px; 
    margin: -80px 5px; 
}

/* move nav menu to the upper-right, and space them out */ 

#nav-menu li {
    list-style-type: none;
    margin-right: 40px; 
    display: inline-block; 
}

/* format sections under heading and center*/ 

.about-container {
    margin: 75px;
    padding-top: 125px; 
    padding-left: 750px; 
}

/*container for home page image */
#image-container {
    height: 832px;
    width: 625px;
    float: left;
    overflow: hidden; 
    margin-top: 5px; 
}

.footer-container {
    margin:
}

/* underline currently active webpage to remind user of their current location */

.currentpg {
    border-bottom: 2px solid brown; 
}

/* remove nav menu auto underline */ 
#nav-menu a {
    text-decoration: none; 
}

/* create highlight effect on navigation pages when hovered over */

#nav-menu a:hover {
    color: brown; 
}