/* font imported from adobe fonts */
@import url("https://use.typekit.net/djv5dul.css");

/* set padding, margins, and borders to 0 */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: adobe-garamond-pro, serif; 
    font-weight: 400; 
    font-style: normal;
    color: #151515;
}
/* headers */ 
h1, h2 {
    font-family: cormorant-garamond, serif; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    font-weight: 600;
    font-style: normal; 
    color: #010101;
    text-decoration: none; 
    font-size: 1.4rem; 
    text-align: center; 
}

/* paragraphs */ 
p {
    text-align: center; 
}
/*add background-color to body */ 
#web-bg{
    background-color: #F2F2F2; 
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
}

/* logo & navigation menu */
#logo {
    float: left; 
    font-size: 2.3rem; 
}
#nav-menu {
    letter-spacing: 2px;
    float: right; 
    font-size: 1rem; 
    color: #151515;
}
/* match line height between nav-menu & logo */
#logo, #nav-menu {
    line-height: 80px; 
}
/* move nav menu to the upper-right, and space them out */ 
#nav-menu li {
    list-style-type: none; 
    margin-right: 40px; 
    display: inline-block; 
    position: relative; 
    z-index: 1; 
}
/* format sections under heading and center*/ 
.about-container {
    padding-top: 220px; 
    padding-left: 750px; 
    max-width: 2000px;
    margin: 0 auto; 
    position: relative; 
}
.about-container p {
    padding-top: 20px; 
}
#image-container {
    float: left;
    padding-top: 140px;
    margin: 5px 5px 5px 0; 
    position: absolute; 
}
/*container for home page image */
#image-container img {
    height: 832px;
    width: 625px;
    overflow: hidden; 
}
/* underline currently active webpage to remind user of their current location */
.currentpg {
    border-bottom: 2px solid brown; 
}
/* remove nav menu auto underline */ 
#nav-menu a {
    text-decoration: none; 
}
/* create highlight effect on navigation pages when hovered over */
#nav-menu a:hover {
    color: brown; 
    background-color: #fff; 
    transition: 0.6s ease; 
}
/* styling for Tesla Timeline container*/
.timeline-container {
    font-family: Montserrat, sans-serif; 
    min-height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 100px 0;
}
/* styling for timeline content */
.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto; 
    position: relative; 
}
/* remove bullet points for timeline */
.timeline ul {
    list-style: none; 
}
/* fine grained styling for timeline content */
.timeline ul li {
    /* give space between content and the border 
    (creates physical gap in timeline) */ 
    padding: 20px;
    background-color: beige; 
    /* round out border corners */
    border-radius: 10px; 
    /* give space between borders */
    margin-bottom: 20px; 
}
/* remove margin-bottom space for last list item, b/c not needed */ 
.timeline ul li:last-child {
    margin-bottom: 0; 
}
/* style time-line headings & paragraphs(font / margins) */ 
.timeline-content h1 {
    font-size: 25px; 
    font-weight: 500;
    line-height: 30px; 
    margin-bottom: 10px; 
}
.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
.timeline-content .date {
    font-family: Montserrat, sans-serif; 
    text-transform: lowercase; 
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 10px; 
    letter-spacing: 2px; 
}
/* Responsive sizing for timeline */
@media only screen and (min-width: 760px) {
/* add line connecting timeline events */
.timeline::before {
    content: '';
    position:absolute;
    height: 100%;
    width: 2px;
    background-color: brown; 

    /* center line connecting timeline events to divide odd/even events */
    left: 50%; 
    /* further center line to be visible from 1st event to last */ 
    transform: translateX(-50%);
}
/* style timeline events for desktop/tablet view */
.timeline ul li {
    width: 50%; 
    margin-bottom: 50px; 
    position: relative;
}
/* split timeline to left and right, alternating */
/* clear opposite side of float to create spacing (1 timeline event per line) */ 
.timeline ul li:nth-child(odd) {
    float: left; 
    clear: right;
    /* create gap between odd timeline event and dividing line */ 
    transform: translateX(-30px);

    /* adjust border-radius for odd timeline events */
    border-radius: 20px 0px 20px 20px; 
}
.timeline ul li:nth-child(even) {
    float: right; 
    clear: left;
    /* create gap between even timeline event and dividing line */ 
    transform: translatex(30px);

    /* adjust border-radius for even timeline events */
    border-radius: 0px 20px 20px 20px; 
}
/* create small, circular shape (bullets) for each event listed within timeline */
.timeline ul li::after {
    content: '';
    position: absolute;
    /* makes square */
    height: 20px;
    width: 20px;
    background-color: brown;

    /* makes square a circle */
    border-radius: 50%; 

    /* positions circles (bullet-points) top of each event */
    top: 0; 
}
/* moves bullet points from even / odd events to centered timeline */ 
    .timeline ul li:nth-child(odd)::after {
        right: -30px;
        transform: translate(50%, -50%);
    }
    .timeline ul li:nth-child(even)::after {
        left: -30px; 
        transform: translate(-50%, -50%);
    }
    /* add hover feature for timeline */
    .timeline ul li:hover:after {
        background-color: orange; 
    }
    .timeline-content .date {
        position: absolute; 
        top: -30px; 
    }
}

footer {
    height: 80px; 
}
.social-m {
    text-align: center;
}
.social-m > li {
    display: inline-block; 
}
.social-m ion-icon {
    text-decoration: none; 
    font-size: 20px; 
    transition: 0.2s;
    margin: 0 30px; 
    padding: 0 30px; 
}
.social-m ion-icon:hover {
    color: brown; 
}
.formbg {
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 90%;
    max-width: 600px;
}
.inputs-grouped {
    margin-bottom: 30px;
    position: relative; 
}
input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black; 
    color: black; 
    background: transparent; 
    font-size: 15px; 
}
.suggest {
    font-size: 1.4rem; 
    text-align: center;
    justify-content: center;
    padding-bottom: 100px; 
}
.social-space {
    padding-top: 100px; 
}
label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px; 
    color: black; 
    cursor: text; 
    transition: 0.2s;
}
button {
    padding: 10px 0;
    color: black; 
    outline: none; 
    background: transparent;
    border: 1px solid black; 
    width: 100%; 
    cursor: pointer; 
}
.static {
    top: -35px;
    font-size: 14px;
}
/* sets name and number fields on same row and creates space between them. */ 
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* increases width of number and name fields to match other contact form fields 
maintains space between them */ 
.row .inputs-grouped {
    flex-basis: 48%;
}
.wrapper {
    margin: 0 auto;
    width: 1000px; 
}
/* video container */ 
.video-wrapper {
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0px;
}
/* video */ 
.video-wrapper iframe {
    position: absolute; 
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; 
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 75px; 
    border: none; 
}
@media screen and (max-width: 730px) {
    .heading-wrap {
        text-align: left;
    }
}
@media screen and (max-width: 428px) {
    .heading-wrap {
        text-align: left;
        font-size: 5.38vw; 
    }
}
/* video.html page - responsive video sizes*/
/* large tablet */ 
@media screen and (max-width: 1020px) {
    .video-wrapper iframe {
        width: 80%; 
    }
}
/* mid size tablet */ 
@media screen and (max-width: 820px) {
    .video-wrapper iframe {
        width: 60%;
    }
}
/* small tablet */ 
@media screen and (max-width: 615px) {
    .video-wrapper iframe {
        width: 44%; 
    }
}
/* phones */ 
@media screen and (max-width: 458px) {
    .video-wrapper iframe {
        width: 30%; 
    }
}
/* index.html page - timeline responsive design */ 
@media screen and (max-width: 1000px) {
    .about-container {
        position: relative;
        padding-left: 5px;
        margin: 0 auto;
    }
    .about-mobile {
        position: relative;
        top: 815px; 
        left: 0px; 
        margin: 0 auto;
        padding-bottom: 50px; 
    }
    .bio-mobile {
        position: relative;
        padding-top: 875px; 
        left: 0px; 
        margin: 0 auto;
        padding-bottom: 50px; 
    }
    .time-mobile {
        position: relative;
        top: -100px; 
        left: 0px; 
        margin: 0 auto;
    }
}
@media screen and (max-width: 1650px) {
    .timeline-heading {
        position: relative;
        left: 0; 
        margin: 0 auto; 
    }
}
@media screen and (max-width: 650px) {
    /* resize tesla image for mobile devices */ 
    #image-container img {
        height: 600px;
        width: 400px;
        overflow: hidden; 
    }
    /* fix text spacing under resized tesla image */ 
    .about-mobile {
        position: relative;
        top: 580px; 
        left: 0px; 
        margin: 0 auto;
        padding-bottom: 50px; 
    }
    .bio-mobile {
        position: relative;
        padding-top: 650px; 
        left: 0px; 
        margin: 0 auto;
        padding-bottom: 50px; 
    }
    .time-mobile {
        position: relative;
        top: -130px; 
        left: 0px; 
        margin: 0 auto;
    }
    .timeline {
        position: relative;
        top: -150px; 
    }
}
@media screen and (max-width 350px) {
/* resize tesla image for small mobile devices */ 
    #image-container img {
        height: 400px;
        width: 200px; 
        overflow: hidden
    }
}

/*  when inside text box (name, email, phone), move icon and placeholder text above texbox */ 
/* maintain placeholder text position above textbox (name, email, phone) while user text occupies textbox */ 
/* when inside text box (your message), move icon and placeholder text above texbox */
/* when inside text box (your message), move icon and placeholder text above texbox */
/* maintain placeholder text position above textbox (your message) while user text occupies textbox */ 

/* interactive

input:focus~label,

input:valid~label,

textarea:focus~label,

textarea:valid~label {
    top: -35px;
    font-size: 14px;
}
*/ 